@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<h1>Dashboard</h1>
<div>
  <div class="row">
    <div class="col-md-6">
      <canvas id="animalTypeChart"></canvas>
    </div>

  </div>

</div>

@section PageScripts {
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var ctx = document.getElementById('animalTypeChart').getContext('2d');
            var animalTypesCount = @Html.Raw(Json.Serialize(Model.AnimalTypesCount));
            var animalTypeColors = @Html.Raw(Json.Serialize(Model.AnimalTypeColors));

            // Define colors based on theme
            var isLightMode = document.documentElement.classList.contains('light-style');
            var textColor = isLightMode ? '#0c4d50' : '#68798c';
            var ticksColor = isLightMode ? '#0c4d50' : '#a2a3ca';
            var backgroundColor = isLightMode ? 'rgba(0, 0, 0, 0.1)' : 'rgba(255, 255, 255, 0.1)';
            var borderColor = isLightMode ? 'rgba(0, 0, 0, 0.8)' : 'rgba(255, 255, 255, 0.8)';

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: Object.keys(animalTypesCount),
                    datasets: [{
                        label: 'Število živali',
                        data: Object.values(animalTypesCount),
                        backgroundColor: Object.keys(animalTypesCount).map(type => animalTypeColors[type]),
                        borderColor: 'rgba(0, 0, 0, 1)',
                        borderWidth: 1
                    }]
                },options: {
                    plugins: {
                            legend: {
                                labels: {
                                    color: ticksColor // Change legend text color
                                }
                            }
                        },
                      scales: {
                          x: {
                              ticks: {
                                  color: ticksColor // Change tick color on the x-axis
                              },
                              grid: {
                                  color: textColor // Change grid line color on the x-axis
                              }
                          },
                          y: {
                              ticks: {
                                  color: ticksColor // Change tick color on the y-axis
                              },
                              grid: {
                                  color: textColor // Change grid line color on the y-axis
                              }
                          }
                      },
                      // ... other options ...
                  }
            });
        });
    </script>
}


